<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>全局选取</title>
</head>
<body>
    <div id="app">
        <p>
            全选：
        </p>
        <input type="checkbox" id="checkbox" v-model="checked" @change="changeAllChecked()">
        <label for="checkbox">
            {{checked}}
        </label>
        <p>
            多个复选框：
        </p>
        <input type="checkbox" id="runoob" value="Runoob" v-model="checkedNames">
        <label for="runoob">
            Runoob
        </label>
        <input type="checkbox" id="google" value="Google" v-model="checkedNames">
        <label for="google">
            Google
        </label>
        <input type="checkbox" id="taobao" value="Taobao" v-model="checkedNames">
        <label for="taobao">
            taobao
        </label>
        <br>
        <span>
            选择的值为:{{checkedNames}}
        </span>
    </div>

    <script type="text/javascript" src="../vue.js"></script>
    <script type="text/javascript" src="test1.js"></script>
</body>
</html>